:root {
    --color-primary: #7f5af0;
    --color-secondary: #72757e;
    --color-tertiary: #2cb67d;
    --white: #fffffe;
    --black: #000000;
    --cinder: #16161a;
    --grey: #a7a9be;
  
    --background: var(--cinder);
  
    --font-size-base: 10px;
    --font-family: "Lato","Helvetica Neue", Helvetica,Arial,sans-serif;
  
    --font-color-heading: var(--white);
    --font-color-paragraph: var(--grey);
  
    --font-size-small: 1.5rem;

    --padding-base: 10px;
  
  }
  
  * {
    box-sizing: border-box;
  }
  
html {
  color: var(--font-color-paragraph);
  background-color: var(--background);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

  body {
    font-size:  var(--font-size-small);
  }
  
  h1, h2, h3 {
    color: var(--font-color-heading);
  }
  
  p {
    color: var(--font-color-paragraph);
  }
  
  .NavigationBar {
    background-color: var(--color-primary);
  }

  .NavigationBar-brandContainer,
  .NavigationBar-menuContainer {
    padding-left:  var(--padding-base);
    padding-right: var(--padding-base);
  }

  .NavigationBar-brandContainer {
    border-bottom: 1px solid var(--grey);
  }

  .NavigationBar-brand {
    color: var(--white);
    display: block;
    padding: 1.5rem 0;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
  }

  .NavigationBar-menuList {
    display: block;
    padding: 1.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .NavigationBar-menuList > a{
    text-decoration:none;
    text-transform: uppercase;
    color: var(--white);
  }



  .NavigationBar-brand:hover {
    color: var(--color-secondary);
  }
